In [8]:
import sklearn
import sklearn.datasets
import time 
import random 

def getData():
    ##simulate some wait time for grabbing the api data or database call
    time.sleep(random.randrange(10,60))
    
    data = sklearn.datasets.load_iris(as_frame=True)
    df = data['frame']
    df['target_names'] = df['target'].apply(lambda i:data['target_names'][i])
    return df

In [7]:
df = getData()
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_names
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica